<div class="category-detail" *ngIf="category;else noCategoryFound">
    <div *ngIf="category.list.length>0; else empytCategory">
        <h4>"{{category.categoryName}}" kategorisindeki filmler</h4>
        <ul>
            <li *ngFor="let film of getCurrentPageItems(); let indexOfElement=index">
                <a [routerLink]="['film-detail/', film.filmId]">
                    <b>{{indexOfElement + startIndex + 1}}. </b>{{film.filmName}}</a>
            </li>
        </ul>

        <div class="pagination">
            <ng-container *ngFor="let item of pages">
                <a class="pagination-item" (click)="handleClickPage(item)">{{item+1}}</a>
            </ng-container>

            <select class="options" [(ngModel)]="pageSize" (change)="handlePagination()">
                <option *ngFor="let option of optionList" [ngValue]="option">{{option}}</option>
            </select>
        </div>
    </div>
    <ng-template #empytCategory>
        <div class="alert alert-info">"{{category.categoryName}}" kategorisine eklenmiş film bulunamadı.</div>
    </ng-template>
</div>

<router-outlet></router-outlet>

<ng-template #noCategoryFound>
    <div class="alert alert-danger">{{categoryId}} değerine karşılık gelen herhangi bir kategori kaydı bulunamamıştır.
    </div>
</ng-template>