<div class="film-detail">
    <strong class="film-title">Esaretin Bedeli</strong>
    <img src="https://i4.hurimg.com/i/hurriyet/75/750x422/55eabcc9f018fbb8f8938170.jpg">
    <p class="description">
        Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı bilinen bir gerçektir. Lorem
        Ipsum kullanmanın amacı, sürekli 'buraya metin gelecek, buraya metin gelecek' yazmaya
        kıyasla daha dengeli bir harf dağılımı sağlayarak okunurluğu artırmasıdır. Şu anda birçok
        masaüstü yayıncılık paketi ve web sayfa düzenleyicisi, varsayılan mıgır metinler olarak
        Lorem Ipsum kullanmaktadır. Ayrıca arama motorlarında 'lorem ipsum' anahtar sözcükleri ile
        arama yapıldığında henüz tasarım aşamasında olan çok sayıda site listelenir. Yıllar
        içinde, bazen kazara, bazen bilinçli olarak (örneğin mizah katılarak), çeşitli sürümleri
        geliştirilmiştir.
    </p>
    <div class="film-director">
        <strong>Film Yönetmeni:</strong> John F. Kennedy
    </div>
</div>