* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    --bg-color: rgb(245, 248, 250);
    --bg-color-badge: #3f51b5;
    --border-color: rgb(237, 242, 245);
    --text-color: #0b3254;
    --text-color-secondary: rgb(11, 50, 84);
    --active-link-color: rgb(0, 160, 223);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

html,
body {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.shadowed {
    box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.3);
}

.box {
    background-color: #fff;
    border-color: var(--border-color);
}

header {
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
}

header .logo {
    padding: 0 2rem;
}

header .searh-section {
    margin-left: 4rem;
}

header .searh-section input {
    outline: none;
    border: 1px solid var(--border-color);
    width: 25rem;
    font-size: 1.2rem;
    background-color: var(--bg-color);
    padding: 0.4rem 0.8rem;
}

header .searh-section input::placeholder {
    font-size: 1rem;
    color: --bg-color
}

.page {
    padding: 0.5rem 2rem;
    display: flex;
    flex: 1;
}

.category-list {
    display: flex;
    flex-direction: column;
    --justify-content: center;
    padding: 2rem;
    width: 18rem;
}

.category-list ul {
    margin-top: 0.8rem;
}

.category-list ul li {
    padding: 0.5rem 0.3rem;
}

.category-list ul li a {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.category-list ul li a:hover {
    color: #3f51b5;
}

.category-list ul li a.active {
    font-weight: 900;
    color: var(--active-link-color);
}

.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--bg-color-badge);
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
}

main {
    margin-top: 0.4rem;
    padding: 2rem 4rem;
    flex: 1;
    border-radius: 1rem;
    min-height: 90vh;
    color: var(--text-color-secondary);
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.film-list {
    width: 30%;
}

.film-list ul li {
    margin-top: 0.6rem;
}

.film-list h4 {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.6rem;
}

.film-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.film-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.film-detail img {
    max-height: 20rem;
    object-fit: contain;
    margin-bottom: 1rem;
}

.film-detail .description {
    margin-bottom: 1rem;
}